In [1]:
import ship
import RAW
import Coordinate
import pandas as pd
import WaveData
import Vs_decision
import voyage
pd.set_option('display.max_columns', None)

jalur_pelayaran = 'Jalur Pelayaran.xlsx'
data_set_gelombang = '04 Januari 2023.xlsx'
data_kapal = 'Data Kapal Kriso KCS.xlsx'
start_date_time = '26-10-2022 00:00:00'
start_time = 10

In [2]:
ship.particular(data_kapal)[1]

   Ship Particular                Value
0        Ship Name            Kriso KCS
1        Ship Type            Container
2        Dimension                  NaN
3     Displacement             4902.545
4              LWL                232.5
5              LPP                  230
6          Breadth                 32.2
7           Depth                    19
8            Draft                 10.8
9           Speed                    15
10              CB                0.651
11              CM                0.985
12     Engine Type                    0
13    Engine Power                 1880
14            SFOC                  175
15    Engine Speed  Medium speed engine

In [3]:
route = Coordinate.distance_route(jalur_pelayaran)
route

       coordinate    Lat1     Lng1    Lat2     Lng2  Distance (nm)
0    coordinate 0  -7.203  112.728  -4.611  116.204        259.111
1    coordinate 1  -4.611  116.204  -0.814  118.635        269.590
2    coordinate 2  -0.814  118.635   2.372  121.715        265.409
3    coordinate 3   2.372  121.715   5.081  125.398        273.803
4    coordinate 4   5.081  125.398   8.996  127.586        267.740
5    coordinate 5   8.996  127.586  13.232  129.281        272.076
6    coordinate 6  13.232  129.281  17.497  131.054        274.721
7    coordinate 7  17.497  131.054  21.714  132.892        272.722
8    coordinate 8  21.714  132.892  25.929  134.861        274.334
9    coordinate 9  25.929  134.861  30.833  137.351        321.674
10  coordinate 10  30.833  137.351  35.623  139.803        312.231

In [11]:
Vs_decision.support_decision(230, 15)[0]

,Wave Range,Percentage Wave Range (%),Reduce Speed (%),Ship Speed (knot)
0,0.000 - 4.600,0-50%,0%,15.00
1,4.600 - 5.060,50-55%,5%,14.25
2,5.060 - 5.520,55-60%,10%,13.50
3,5.520 - 5.980,60-65%,15%,12.75
4,5.980 - 6.440,65-70%,20%,12.00
5,6.440 - 6.900,70-75%,25%,11.25
6,6.900 - 7.360,75-80%,30%,10.50
7,7.360 - 7.820,80-85%,35%,9.75
8,7.820 - 8.280,85-90%,40%,9.00
9,8.280 - 8.740,90-95%,45%,8.25
10,8.740 - 9.200,95-100%,50%,7.50

In [5]:
df = voyage.Calculate(data_kapal, 
                      jalur_pelayaran,
                      data_set_gelombang, 
                      start_time
                     )
df

,coordinate,Lat1,Lng1,Lat2,Lng2,Distance (nm),Initial speed (knot),time 0 (hour),waktu kumulatif 0,wave height (m),wave direction,wave period,ship angle,heading angle,speed 1 (knot),time 1 (hour),selisih 1-0,time 1 - (selisih 1-0),waktu kumulatif 1,waktu kumulatif (1-0),speed 2 (knot),speed setelah revisi,Distance 2 (nm),koreksi distance,Distance 2 - koreksi,tambahan waktu yang dibutuhkan,time 3 (hour),selisih 3-0,time 3 - (selisih 3-0),waktu kumulatif final,speed final (knot)
0,coordinate 0,-7.203,112.728,-4.611,116.204,259.111,15,17.289,204.404,0.39,314.72,4.43,53.514,261.206,15.0,17.289,0.0,17.289,204.404,0.0,14.987,14.987,259.111,0.0,259.111,0.0,17.304,0.015,17.304,204.404,14.974
1,coordinate 1,-4.611,116.204,-0.814,118.635,269.590,15,17.988,187.115,1.37,263.98,5.03,32.846,231.134,15.0,17.988,0.0,17.988,187.115,0.0,14.987,14.987,269.590,0.0,269.590,0.0,18.004,0.016,17.989,187.100,14.987
2,coordinate 2,-0.814,118.635,2.372,121.715,265.409,15,17.709,169.127,0.63,199.58,6.09,44.211,155.369,15.0,17.709,0.0,17.709,169.127,0.0,14.987,14.987,265.409,0.0,265.409,0.0,17.725,0.015,17.709,169.111,14.987
3,coordinate 3,2.372,121.715,5.081,125.398,273.803,15,18.269,151.418,1.02,59.73,8.11,53.685,6.045,15.0,18.269,0.0,18.269,151.418,0.0,14.987,14.987,273.803,0.0,273.803,0.0,18.285,0.016,18.270,151.402,14.987
4,coordinate 4,5.081,125.398,8.996,127.586,267.740,15,17.865,133.148,1.66,45.32,8.89,29.042,16.278,15.0,17.865,0.0,17.865,133.148,0.0,14.987,14.987,267.740,0.0,267.740,0.0,17.880,0.015,17.864,133.132,14.987
5,coordinate 5,8.996,127.586,13.232,129.281,272.076,15,18.154,115.283,2.38,45.16,7.77,21.410,23.750,15.0,18.154,0.0,18.154,115.283,0.0,14.987,14.987,272.076,0.0,272.076,0.0,18.170,0.016,18.154,115.268,14.987
6,coordinate 6,13.232,129.281,17.497,131.054,274.721,15,18.331,97.129,3.13,52.38,8.01,21.731,30.649,15.0,18.331,0.0,18.331,97.129,0.0,14.987,14.987,274.721,0.0,274.721,0.0,18.346,0.016,18.331,97.114,14.987
7,coordinate 7,17.497,131.054,21.714,132.892,272.722,15,18.197,78.799,2.59,59.92,7.21,22.146,37.774,15.0,18.197,0.0,18.197,78.799,0.0,14.987,14.987,272.722,0.0,272.722,0.0,18.213,0.016,18.197,78.783,14.987
8,coordinate 8,21.714,132.892,25.929,134.861,274.334,15,18.305,60.602,1.70,65.33,6.27,22.865,42.465,15.0,18.305,0.0,18.305,60.602,0.0,14.987,14.987,274.334,0.0,274.334,0.0,18.321,0.016,18.305,60.586,14.987
9,coordinate 9,25.929,134.861,30.833,137.351,321.674,15,21.463,42.297,1.68,47.75,5.77,23.597,24.153,15.0,21.463,0.0,21.463,42.297,0.0,14.987,14.987,321.674,0.0,321.674,0.0,21.482,0.019,21.466,42.281,14.985
10,coordinate 10,30.833,137.351,35.623,139.803,312.231,15,20.833,20.833,1.03,70.73,10.62,22.613,48.117,15.0,20.833,0.0,20.833,20.833,0.0,14.987,14.987,312.231,0.0,312.231,0.0,20.851,0.018,20.815,20.815,15.000

In [6]:
df1 = voyage.Calculation(data_kapal, 
                        jalur_pelayaran,
                        data_set_gelombang, 
                        start_time)
df1

,coordinate,Lat1,Lng1,Lat2,Lng2,Distance (nm),wave height (m),wave period,wave direction,heading angle,speed final (knot),time (hour),R Calm Water (kN),R Added Wave (kN),R Total (kN),Power (kwh),foc (ton)
0,coordinate 0,-7.203,112.728,-4.611,116.204,259.111,0.39,4.43,314.72,261.206,14.974,17.304,704.167,8.532,712.699,11327.045,34.300
1,coordinate 1,-4.611,116.204,-0.814,118.635,269.590,1.37,5.03,263.98,231.134,14.987,18.004,705.175,7420.706,8125.881,129259.421,407.252
2,coordinate 2,-0.814,118.635,2.372,121.715,265.409,0.63,6.09,199.58,155.369,14.987,17.725,705.232,1322.808,2028.040,32261.898,100.070
3,coordinate 3,2.372,121.715,5.081,125.398,273.803,1.02,8.11,59.73,6.045,14.987,18.285,705.183,355.259,1060.442,16868.715,53.978
4,coordinate 4,5.081,125.398,8.996,127.586,267.740,1.66,8.89,45.32,16.278,14.987,17.880,705.239,178.172,883.411,14053.322,43.973
5,coordinate 5,8.996,127.586,13.232,129.281,272.076,2.38,7.77,45.16,23.750,14.987,18.170,705.199,1702.179,2407.378,38295.263,121.768
6,coordinate 6,13.232,129.281,17.497,131.054,274.721,3.13,8.01,52.38,30.649,14.987,18.346,705.205,258.606,963.811,15331.874,49.225
7,coordinate 7,17.497,131.054,21.714,132.892,272.722,2.59,7.21,59.92,37.774,14.987,18.213,705.223,1221.030,1926.253,30642.450,97.666
8,coordinate 8,21.714,132.892,25.929,134.861,274.334,1.70,6.27,65.33,42.465,14.987,18.321,705.209,1883.795,2589.004,41184.861,132.043
9,coordinate 9,25.929,134.861,30.833,137.351,321.674,1.68,5.77,47.75,24.153,14.985,21.482,705.061,778.524,1483.585,23597.234,88.710
10,coordinate 10,30.833,137.351,35.623,139.803,312.231,1.03,10.62,70.73,48.117,15.000,20.851,706.296,1549.817,2256.114,35923.407,131.085

In [7]:
df2 = voyage.Perbandingan(jalur_pelayaran, data_kapal)
df2

,coordinate,Lat1,Lng1,Lat2,Lng2,Distance (nm),speed (knot),time (hour),R Calm Water (kN),Power (kwh),foc (ton)
0,coordinate 0,-7.203,112.728,-4.611,116.204,259.111,15,17.289,706.264,11245.302,34.024
1,coordinate 1,-4.611,116.204,-0.814,118.635,269.590,15,17.988,706.264,11245.302,35.399
2,coordinate 2,-0.814,118.635,2.372,121.715,265.409,15,17.709,706.264,11245.302,34.850
3,coordinate 3,2.372,121.715,5.081,125.398,273.803,15,18.269,706.264,11245.302,35.953
4,coordinate 4,5.081,125.398,8.996,127.586,267.740,15,17.865,706.264,11245.302,35.157
5,coordinate 5,8.996,127.586,13.232,129.281,272.076,15,18.154,706.264,11245.302,35.726
6,coordinate 6,13.232,129.281,17.497,131.054,274.721,15,18.331,706.264,11245.302,36.073
7,coordinate 7,17.497,131.054,21.714,132.892,272.722,15,18.197,706.264,11245.302,35.811
8,coordinate 8,21.714,132.892,25.929,134.861,274.334,15,18.305,706.264,11245.302,36.022
9,coordinate 9,25.929,134.861,30.833,137.351,321.674,15,21.463,706.264,11245.302,42.239
10,coordinate 10,30.833,137.351,35.623,139.803,312.231,15,20.833,706.264,11245.302,40.999

### Cara Menampilkan Total FOC

In [8]:
total_foc1 = df1['foc (ton)'].sum(axis=0)
print('Total Fuel Oil Consumption = {:2f} ton'.format(total_foc1))

Total Fuel Oil Consumption = 1260.069828 ton

In [9]:
total_foc2 = df2['foc (ton)'].sum(axis=0)
print('Total Fuel Oil Consumption = {:2f} ton'.format(total_foc2))

Total Fuel Oil Consumption = 402.252345 ton

In [10]:
print('Peningkatan konsumsi bahan bakar karena pengaruh gelombang adalah {:2f}%'.format(((total_foc1)/total_foc2)*100))

Peningkatan konsumsi bahan bakar karena pengaruh gelombang adalah 313.253570%